@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  overflow-x: hidden;
}

/* Scrollbar genişliği */
::-webkit-scrollbar {
  width: 8px;
}

:root {
  --scrollbar-bg: #f1f1f1;
  --scrollbar-thumb: #b5b5b6;
  --scrollbar-thumb-hover: #4396e9;
}

/* Dark Mode için */
.dark {
  --scrollbar-bg: #1e1e1e;
  --scrollbar-thumb: #575757;
  --scrollbar-thumb-hover: #70b8ff;
}

/* Scrollbar arkaplanı */
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}

/* Scrollbar kaydırma kısmı */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

/* Scrollbar kaydırma kısmına hover efekti */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

